%aside.right
  .image
    %a{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/5.jpg')}}
      %img{src: image_path("zeichnungen/5-thumb.jpg"), alt: "Brack Anordnung gesamt RevA-110 30kV-Anlage+RC Grundriss"}
    %footer.hide
      gezeichnet für
      %a{href: "http://www.ib-brack.de", target: "_blank"}
        Brack & Kollegen GbR
  .image
    %a{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/6.jpg')}}
      %img{src: image_path("zeichnungen/6-thumb.jpg"), alt: "B+E gesamt-Model"}
    %footer.hide
      gezeichnet für
      %a{href: '#', title: "<strong>Hans-Otto Brambach</strong><br>Architekt BDA<br>Brambach Architekten GmbH<br>Clara-Zetkin-Straße 15<br>06114 Halle (Saale)<br>Fon: 0345/530 42 0 | Fax 0345/530 42 3<br>Mail: hans-otto.brambach@brambach-arch.de", data: {toggle: "tooltip", html: "true"}}
        Brambach Architekten
  .image
    %a{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/7.jpg')}}
      %img{src: image_path("zeichnungen/7-thumb.jpg"), alt: "Brack Blockschaltbild Banderitz 01.06.13-Kritzkow"}
    %footer.hide
      gezeichnet für
      %a{href: "http://www.ib-brack.de", target: "_blank"}
        Brack & Kollegen GbR
