.bottom-row
  .image
    %a{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/11.jpg')}}
      %img{src: image_path("zeichnungen/11-thumb.jpg"), alt: "WWV selbstl HL Gesamtübersicht"}
    %footer.hide
      gezeichnet für
      %a{href: "http://wwv.de/standorte,leuna-de.html", target: "_blank"}
        WWV Wärmeverwertung Standort Leuna
  .image
    %a{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/10.jpg')}}
      %img{src: image_path("zeichnungen/10-thumb.jpg"), alt: "Brack Kruge Lagepläne-LP1"}
    %footer.hide
      gezeichnet für
      %a{href: '#', title: "Hans-Otto Brambach", content: "Architekt BDA<br>Brambach Architekten GmbH<br>Clara-Zetkin-Straße 15<br>06114 Halle (Saale)<br>Fon: 0345/530 42 0 | Fax 0345/530 42 3<br>Mail: hans-otto.brambach@brambach-arch.de", data: {toggle: "tooltip", html: "true"}}
        Brambach
      = " + "
      %a{href: '#', title: "Juergen Ebert", content: "Architekt<br>Tannenweg 21<br>06120 Halle (Saale) - Kröllwitz<br>Fon: 0345/68489380<br>Mail: juergen.ebert.architekt@gmx.de", data: {toggle: "tooltip", html: "true"}}
        Ebert Architekten
  .image
    %a{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/9.jpg')}}
      %img{src: image_path("zeichnungen/9-thumb.jpg"), alt: "B+E Freiimfelderl"}
    %footer.hide
      gezeichnet für
      %a{href: "http://www.ib-brack.de", target: "_blank"}
        Brack & Kollegen GbR
  .image
    %a{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/8.jpg')}}
      %img{src: image_path("zeichnungen/8-thumb.jpg"), alt: "WWV Geräteanordnung"}
    %footer.hide
      gezeichnet für
      %a{href: "http://wwv.de/standorte,leuna-de.html", target: "_blank"}
        WWV Wärmeverwertung Standort Leuna
