%footer#footer
  %nav.navbar.navbar-default{role: "navigation"}
    .container-fluid
      .navbar-header
        %a.navbar-brand.copyright{href: "mailto:info@cad-zeichnungen-wittek.de", target: "_blank"}
          Copyright &copy; 2014 Petra Wittek
      .collapse.navbar-collapse.navbar-ex1-collapse
        %ul.nav.navbar-nav.navbar-right
          %li{class: ('active' if current_page.data.active_page == 'impressum')}
            %a{href: "/impressum"} Impressum

          %li{class: ('active' if current_page.data.active_page == 'datenschutz')}
            %a{href: "/datenschutz"} Datenschutz
