%footer#main
  .container
    .row
      .col-xs-12.col-sm-4.col-md-4
        %p.copyright
          Copyright &copy; 2014
          = link_to "Petra Wittek", "mailto:info@cad-zeichnungen-wittek.de", target: "_blank"
      .col-xs-12.col-sm-8.col-md-8
        %nav.pull-right
          %a{href: "/impressum"} Impressum
          = " | "
          %a{href: "/datenschutz"} Datenschutz
