.modal.fade.bs-modal-lg#gallery-modal
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
          &times;
        %h4.modal-title

      .modal-body
        %img{src: "", alt: "big-image"}
      .modal-footer
