.top-row
  .image#image-1
    %a{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/1.jpg')}}
      %img{src: image_path("zeichnungen/1-thumb.jpg"), alt: "B+E DG Reinsdorf"}
    %footer.hide
      gezeichnet für
      %a{href: '#', title: "<strong>Hans-Otto Brambach</strong><br>Architekt BDA<br>Brambach Architekten GmbH<br>Clara-Zetkin-Straße 15<br>06114 Halle (Saale)<br>Fon: 0345/530 42 0 | Fax 0345/530 42 3<br>Mail: hans-otto.brambach@brambach-arch.de", data: {toggle: "tooltip", html: "true"}}
        Brambach Architekten
  .image#image-2
    %a{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/2.jpg')}}
      %img{src: image_path("zeichnungen/2-thumb.jpg"), alt: "WWV 0050 Festw. Heizkreis Regeleinheit"}
    %footer.hide
      gezeichnet für
      %a{href: "http://wwv.de/standorte,leuna-de.html", target: "_blank"}
        WWV Wärmeverwertung Standort Leuna
  .image#image-3
    %a{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/3.jpg')}}
      %img{src: image_path("zeichnungen/3-thumb.jpg"), alt: "B+E Bauhaus"}
    %footer.hide
      gezeichnet für
      %a{href: '#', title: "Hans-Otto Brambach", content: "Architekt BDA<br>Brambach Architekten GmbH<br>Clara-Zetkin-Straße 15<br>06114 Halle (Saale)<br>Fon: 0345/530 42 0 | Fax 0345/530 42 3<br>Mail: hans-otto.brambach@brambach-arch.de", data: {toggle: "tooltip", html: "true"}}
        Brambach
      = " + "
      %a{href: '#', title: "Juergen Ebert", content: "Architekt<br>Tannenweg 21<br>06120 Halle (Saale) - Kröllwitz<br>Fon: 0345/68489380<br>Mail: juergen.ebert.architekt@gmx.de", data: {toggle: "tooltip", html: "true"}}
        Ebert Architekten
  .image#image-4
    %a{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/4.jpg')}}
      %img{src: image_path("zeichnungen/4-thumb.jpg"), alt: "WWV 0006-00-Model"}
    %footer.hide
      gezeichnet für
      %a{href: "http://wwv.de/standorte,leuna-de.html", target: "_blank"}
        WWV Wärmeverwertung Standort Leuna
.clearfix
