---
title: Galerie
active_page: galerie
---
.row
  .col-xs-12.col-md-10.col-md-offset-1.col-sm-12
    .cbox.cbox-plain
      .well
        %h1
          Galerie

        .row
          .col-xs-12.col-sm-6.col-md-3
            %a.thumbnail{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/1.jpg')}}
              %img{src: image_path("zeichnungen/1.jpg"), alt: "B+E DG Reinsdorf"}
            %footer.hide
              gezeichnet für Brambach Architekten
              %address
                %strong
                  Hans-Otto Brambach
                %br
                Architekt BDA
                %br
                Brambach Architekten GmbH
                %br
                Clara-Zetkin-Straße 15
                %br
                06114 Halle (Saale)
                %br
                Fon 0345/530 42 0 | Fax 0345/530 42 3
                %br
                Mail: hans-otto.brambach@brambach-arch.de
          .col-xs-12.col-sm-6.col-md-3
            %a.thumbnail{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/2.jpg')}}
              %img{src: image_path("zeichnungen/2.jpg"), alt: "WWV 0050 Festw. Heizkreis Regeleinheit"}
            %footer.hide
              gezeichnet für WWV Wärmeverwertung Standort Leuna -
              %a{href: "http://wwv.de/standorte,leuna-de.html"}
                http://wwv.de/standorte,leuna-de.html
          .col-xs-12.col-sm-6.col-md-3
            %a.thumbnail{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/3.jpg')}}
              %img{src: image_path("zeichnungen/3.jpg"), alt: "B+E Bauhaus"}
            %footer.hide
              gezeichnet für Brambach + Ebert Architekten
              %address
                %strong
                  Hans-Otto Brambach
                %br
                Architekt BDA
                %br
                Brambach Architekten GmbH
                %br
                Clara-Zetkin-Straße 15
                %br
                06114 Halle (Saale)
                %br
                Fon 0345/530 42 0 | Fax 0345/530 42 3
                %br
                Mail: hans-otto.brambach@brambach-arch.de
              %address
                %strong
                  Juergen Ebert
                %br
                Architekt
                %br
                Tannenweg 21
                %br
                06120 Halle (Saale) - Kröllwitz
                %br
                Fon   0345/68489380
                %br
                Mail:  juergen.ebert.architekt@gmx.de
          .col-xs-12.col-sm-6.col-md-3
            %a.thumbnail{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/4.jpg')}}
              %img{src: image_path("zeichnungen/4.jpg"), alt: "WWV 0006-00-Model"}
            %footer.hide
              gezeichnet für WWV Wärmeverwertung Standort Leuna -
              %a{href: "http://wwv.de/standorte,leuna-de.html"}
                http://wwv.de/standorte,leuna-de.html
          .col-xs-12.col-sm-6.col-md-3
            %a.thumbnail{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/5.jpg')}}
              %img{src: image_path("zeichnungen/5.jpg"), alt: "Brack Anordnung gesamt RevA-110 30kV-Anlage+RC Grundriss"}
            %footer.hide
              gezeichnet für Brack & Kollegen GbR -
              %a{href: "http://www.ib-brack.de"}
                http://www.ib-brack.de
          .col-xs-12.col-sm-6.col-md-3
            %a.thumbnail{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/6.jpg')}}
              %img{src: image_path("zeichnungen/6.jpg"), alt: "B+E gesamt-Model"}
            %footer.hide
              gezeichnet für Brambach Architekten
              %address
                %strong
                  Hans-Otto Brambach
                %br
                Architekt BDA
                %br
                Brambach Architekten GmbH
                %br
                Clara-Zetkin-Straße 15
                %br
                06114 Halle (Saale)
                %br
                Fon 0345/530 42 0 | Fax 0345/530 42 3
                %br
                Mail: hans-otto.brambach@brambach-arch.de
          .col-xs-12.col-sm-6.col-md-3
            %a.thumbnail{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/7.jpg')}}
              %img{src: image_path("zeichnungen/7.jpg"), alt: "Brack Blockschaltbild Banderitz 01.06.13-Kritzkow"}
            %footer.hide
              gezeichnet für Brack & Kollegen GbR -
              %a{href: "http://www.ib-brack.de"}
                http://www.ib-brack.de
          .col-xs-12.col-sm-6.col-md-3
            %a.thumbnail{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/8.jpg')}}
              %img{src: image_path("zeichnungen/8.jpg"), alt: "WWV Geräteanordnung"}
            %footer.hide
              gezeichnet für WWV Wärmeverwertung Standort Leuna -
              %a{href: "http://wwv.de/standorte,leuna-de.html"}
                http://wwv.de/standorte,leuna-de.html
          .col-xs-12.col-sm-6.col-md-3
            %a.thumbnail{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/9.jpg')}}
              %img{src: image_path("zeichnungen/9.jpg"), alt: "B+E Freiimfelderl"}
            %footer.hide
              gezeichnet für Brack & Kollegen GbR -
              %a{href: "http://www.ib-brack.de"}
                http://www.ib-brack.de
          .col-xs-12.col-sm-6.col-md-3
            %a.thumbnail{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/10.jpg')}}
              %img{src: image_path("zeichnungen/10.jpg"), alt: "Brack Kruge Lagepläne-LP1"}
            %footer.hide
              gezeichnet für Brambach + Ebert Architekten
              %address
                %strong
                  Hans-Otto Brambach
                %br
                Architekt BDA
                %br
                Brambach Architekten GmbH
                %br
                Clara-Zetkin-Straße 15
                %br
                06114 Halle (Saale)
                %br
                Fon 0345/530 42 0 | Fax 0345/530 42 3
                %br
                Mail: hans-otto.brambach@brambach-arch.de
              %address
                %strong
                  Juergen Ebert
                %br
                Architekt
                %br
                Tannenweg 21
                %br
                06120 Halle (Saale) - Kröllwitz
                %br
                Fon   0345/68489380
                %br
                Mail:  juergen.ebert.architekt@gmx.de
          .col-xs-12.col-sm-6.col-md-3
            %a.thumbnail{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/11.jpg')}}
              %img{src: image_path("zeichnungen/11.jpg"), alt: "WWV selbstl HL Gesamtübersicht"}
            %footer.hide
              gezeichnet für WWV Wärmeverwertung Standort Leuna -
              %a{href: "http://wwv.de/standorte,leuna-de.html"}
                http://wwv.de/standorte,leuna-de.html
          .col-xs-12.col-sm-6.col-md-3
            %a.thumbnail{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/12.jpg')}}
              %img{src: image_path("zeichnungen/12.jpg"), alt: "WWV 0053 Festw. Behälter"}
            %footer.hide
              gezeichnet für WWV Wärmeverwertung Standort Leuna -
              %a{href: "http://wwv.de/standorte,leuna-de.html"}
                http://wwv.de/standorte,leuna-de.html
          .col-xs-12.col-sm-6.col-md-3
            %a.thumbnail{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/13.jpg')}}
              %img{src: image_path("zeichnungen/13.jpg"), alt: "Brack WP. Tempelfelde"}
            %footer.hide
              gezeichnet für Brack & Kollegen GbR -
              %a{href: "http://www.ib-brack.de"}
                http://www.ib-brack.de
          .col-xs-12.col-sm-6.col-md-3
            %a.thumbnail{href: '#', data: {toggle: 'modal', target: '#gallery-modal', image: image_path('zeichnungen/14.jpg')}}
              %img{src: image_path("zeichnungen/14.jpg"), alt: "B+E Details"}
            %footer.hide
              gezeichnet für Brambach + Ebert Architekten
              %address
                %strong
                  Hans-Otto Brambach
                %br
                Architekt BDA
                %br
                Brambach Architekten GmbH
                %br
                Clara-Zetkin-Straße 15
                %br
                06114 Halle (Saale)
                %br
                Fon 0345/530 42 0 | Fax 0345/530 42 3
                %br
                Mail: hans-otto.brambach@brambach-arch.de
              %address
                %strong
                  Juergen Ebert
                %br
                Architekt
                %br
                Tannenweg 21
                %br
                06120 Halle (Saale) - Kröllwitz
                %br
                Fon   0345/68489380
                %br
                Mail:  juergen.ebert.architekt@gmx.de
        %hr

        %a{href: "/"}
          %span
            Startseite
