---
active_page: home
---
.content#welcome
  .box.box-1
    %a{href: "/leistungen"}
      %span Leistungen
  .box.box-2
    %a{href: "/referenzen"}
      %span Referenzen
  .wrapper
    .card
      Willkommen bei
      %h1
        CAD-Zeichnungen
        %br.visible-xs
        Wittek
      %p
        Schauen Sie sich um und informieren
        %br
        Sie sich über mich und meine Leistungen.
        %br
        %img{src: "#{image_path('me.jpg')}", alt: "Me"}
        Gern können Sie mich
        %br
        kontaktieren, wenn Sie
        %br
        noch Fragen haben.
      .clearfix

  .box.box-3
    %a{href: "/ueber-mich"}
      %span Über mich
  .box.box-4
    %a{href: "/kontakt"}
      %span Kontakt
