---
active_page: home
---
.content#welcome
  .card
    .inner
      Willkommen bei
      %h1
        CAD-Zeichnungen
        %br.visible-xs
        Wittek
      %p
        Schauen Sie sich um und informieren
        %br
        Sie sich über mich und meine Leistungen.
        %br
        %img{src: "#{image_path('me.jpg')}", alt: "Me"}
        Gern können Sie mich kontaktieren,
        %br
        wenn Sie noch Fragen haben.
      .clearfix
