---
title: Kontakt
active_page: kontakt
---
.content#contact
  .wrapper
    %h1
      Petra Wittek CAD-Zeichnungen
    %br
    %dl.dl-horizontal
      %dt
        %i.glyphicon.glyphicon-globe
      %dd
        Vogelweide 15
        %br
        06130 Halle (Saale)
      %dt
        %i.glyphicon.glyphicon-envelope
      %dd
        %a{href: "mailto:kontakt@cad-zeichnungen-wittek.de"}
          kontakt@cad-zeichnungen-wittek.de
      %dt
        %i.glyphicon.glyphicon-earphone
      %dd
        0345 / 122 32 07
      %dt
        %i.glyphicon.glyphicon-phone
      %dd
        0176 / 344 03 959
      %dt
        %i.glyphicon.glyphicon-home
      %dd
        www.CAD-Zeichnungen-Wittek.de
