---
title: Kontakt
active_page: kontakt
---
.row#contact
  .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
    .cbox.cbox-small
      .well
        %h1
          Petra Wittek CAD-Zeichnungen
        %dl.dl-horizontal
          %dt
            %i.glyphicon.glyphicon-globe
          %dd
            Volgelweide 15
            %br
            06130 Halle (Saale)
          %dt
            %i.glyphicon.glyphicon-envelope
          %dd
            %a{href: "mailto:kontakt@cad-zeichnungen-wittek.de"}
              kontakt@cad-zeichnungen-wittek.de
          %dt
            %i.glyphicon.glyphicon-phone
          %dd
            0345 / 122 32 07
          %dt
            %i.glyphicon.glyphicon-mobile
          %dd
            0176 / 344 03 959
          %dd
            www.CAD-Zeichnungen-Wittek.de

        %hr

        %a{href: "/"}
          %span
            Startseite
