---
title: Leistungen
active_page: services
---
.content#services
  .wrapper
    %h1
      Leistungen
    %p
      Nach Ihren Wünschen, Entwürfen und Vorgaben fertige ich CAD-Zeichnungen an.
      %br
      Dabei biete ich meine Unterstützung vor allem bei der
      %a{href: "#", data: {toggle: "modal", target: "#hochbau"}}
        Erstellung von Hochbau-Projekten.
      Aber auch im Bereich
      %a{href: "#", data: {toggle: "modal", target: "#electro"}}
        Elektrotechnik
      verfüge ich mittlerweile über vielfältige Erfahrungen.
    %p
      Ich erweitere jedoch gern mein Leistungsspektrum und freue mich auch über weitere herausfordernde Aufgaben.
    %p
      Die moderne Datenübertragung ermöglicht eine ortsunabhängige Leistungserbringung, so dass ich überregional tätig sein kann. Ich arbeite aber auch gern in Ihrer Betriebsstätte.
    %br
    %strong
      Software
    %p
      Ich arbeite mit der Software CAD Software „Autodesk AutoCAD“, welche eine solide Schnittstelle für einen zeichnerischen Austausch bietet.
.modal.fade#electro{tabindex: "-1", role: "dialog", aria: {labelledby: "myModalLabel", hidden: "true"}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
          &times;
        %h4.modal-title
          Elektrotechnik
      .modal-body
        %p
          Stromlaufpläne
        %p
          Anschlusspläne
        %p
          Lagepläne
        %p
          Geräteanordnung
        %p
          Zeichnungen für Gestattungsverträge
        %p
          3D-Modelle zur Präsentation
.modal.fade#hochbau{tabindex: "-1", role: "dialog", aria: {labelledby: "myModalLabel", hidden: "true"}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
          &times;
        %h4.modal-title
          Erstellung von Hochbau-Projekten
      .modal-body
        %p
          Aufmaß und Erstellung von Bestandsplänen
        %p
          Digitale Planerstellung anhand alter Papierpläne
        %p
          Zeichnungen für die Genehmigungsplanung
        %p
          Zeichnungen für die Ausführungsplanung
