---
title: Leistungen
active_page: services
---
#services
  .row
    .col-xs-12.col-md-10.col-md-offset-1.col-sm-12
      .cbox
        .well
          %h1
            Leistungen
          %p
            Nach Ihren Wünschen, Entwürfen und Vorgaben fertige ich CAD-Zeichnungen an.
            %br
            Dabei biete ich meine Unterstützung vor allem bei der
            %a{href: "#", data: {toggle: "modal", target: "#hochbau"}}
              Erstellung von Hochbau-Projekten.
            %br
            Aber auch im Bereich
            %a{href: "#", data: {toggle: "modal", target: "#electro"}}
              Elektrotechnik
            können Sie auf mich zukommen.
          %p
            Sofern Sie weitere, hier nicht aufgeführte Aufgaben haben, sprechen Sie mich trotzdem an. Ich erweitere gern mein Leistungsspektrum für Sie.
          %p
            Durch moderne Datenübertragung bin ich örtlich nicht gebunden und auch überregional tätig.
          %p
            Gerne komme ich auch in ihre Betriebsstätte.
          %dl
            %dt
              Software
            %dd
              Ich arbeite mit der Software CAD Software „Autodesk AutoCAD“, welche eine solide Schnittstelle für einen zeichnerischen Austausch ist.
          %hr

          %a{href: "/"}
            %span
              Startseite
.modal.fade#electro{tabindex: "-1", role: "dialog", aria: {labelledby: "myModalLabel", hidden: "true"}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
          &times;
        %h4.modal-title#myModalLabel
          Elektrotechnik
      .modal-body
        %p
          Stromlaufpläne
        %p
          Anschlusspläne
        %p
          Lagepläne
        %p
          Geräteanordnung
        %p
          Zeichnungen für Gestattungsverträge
        %p
          3D-Modelle zur Präsentation
.modal.fade#hochbau{tabindex: "-1", role: "dialog", aria: {labelledby: "myModalLabel", hidden: "true"}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
          &times;
        %h4.modal-title
          Erstellung von Hochbau-Projekten
      .modal-body
        %p
          Aufmaß und Erstellung Bestandspläne
        %p
          Digitale Planerstellung anhand alter Papierpläne
        %p
          Zeichnungen für die Genehmigungsplanung
        %p
          Zeichnungen für die Ausführungsplanung
