---
title: Referenzen
active_page: references
---
.content#references
  .wrapper
    %h1
      Referenzen

    %blockquote
      „Wir schätzen Ihre Arbeit sehr, wobei insbesondere Ihre schnelle und
      gewissenhafte Arbeitsweise, umfangreichen ACAD-Kenntnisse, gute
      Auffassungsgabe und Flexibilität hervorzuheben sind ...“
      %a{href: '#', data: {toggle: "modal", target: "#more-1"}}
        mehr lesen
      %small
        Philipp Wagner, WWV Wärmeverwertung  Standort Leuna

    %blockquote
      „Besonders hervorzuheben ist Frau Witteks Gabe, sich schnell und umfassend in
      neue Themengebiete einzudenken und diese somit in großer Selbständigkeit
      abzuarbeiten ...“
      %a{href: '#', data: {toggle: "modal", target: "#more-2"}}
        mehr lesen
      %small
        Norbert Brack, Brack & Kollegen GbR

    %blockquote
      „Sie erstellt die Zeichnungen präzise und schnell. [...] Mit ihrer freundlichen und aufgeschlossenen Art fügt sie sich gut in unser Team ein ...“
      %a{href: '#', data: {toggle: "modal", target: "#more-3"}}
        mehr lesen
      %small
        Astrid Friedewald, StadtLandGrün

    %blockquote
      „Als besonders angenehm erwies es sich, dass alle Leistungen vom ersten Kontakt bis zum Projektabschluss im persönlichen Kontakt mit Frau Wittek als ausführender Person erfolgten .  ..“
      %a{href: '#', data: {toggle: "modal", target: "#more-4"}}
        mehr lesen
      %small
        Ralf Koch,
        %a{href: '#', title: "<strong>Ralf Koch, NABU-Regionalverband Parchim</strong><br>Haus Biber & Co.<br>19412 Alt Necheln<br>Fon: 038483/29648<br>Mail: nabu-parchim@web.de", data: {toggle: "tooltip", html: "true"}}
          NABU-Regionalverband Parchim

.modal.fade#more-1{tabindex: "-1", role: "dialog", aria: {hidden: "true"}}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
          &times;
        .clearfix
      .modal-body
        %blockquote
          „Frau Wittek hat unser Team am Chemiestandort Leuna in den vergangenen Jahren
          mehrfach als technische Zeichnerin unterstützt. Wir schätzen Ihre Arbeit sehr,
          wobei insbesondere Ihre schnelle und gewissenhafte Arbeitsweise, umfangreichen
          ACAD-Kenntnisse, gute Auffassungsgabe und Flexibilität hervorzuheben sind.
          Sie hat sich sehr gut in unser Team integriert, was gerade bei externen
          Mitarbeitern keine Selbstverständlichkeit ist.“
          %small
            Philipp Wagner, WWV Wärmeverwertung  Standort Leuna

.modal.fade#more-2{tabindex: "-1", role: "dialog", aria: {hidden: "true"}}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
          &times;
        .clearfix
      .modal-body
        %blockquote
          „Besonders hervorzuheben ist Frau Witteks Gabe, sich schnell und umfassend in
          neue Themengebiete einzudenken und diese somit in großer Selbständigkeit
          abzuarbeiten. Unser Korrekturaufwand beschränkt sich somit auf das äußerste
          Minimum. Ferner besonders hervorzuheben ist die große Flexibilität in der
          Bearbeitung unserer Projekte. Wir können Frau Wittek nur auf`s Wärmste
          weiterempfehlen.“
          %small
            Norbert Brack, Brack & Kollegen GbR

.modal.fade#more-3{tabindex: "-1", role: "dialog", aria: {hidden: "true"}}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
          &times;
        .clearfix
      .modal-body
        %blockquote
          „Frau Petra Wittek, wohnhaft in Vogelweide 15, in 06130 Halle, ist seit der Gründung unseres Büros für Stadt- und Landschaftsplanung in Halle (Saale) im Februar 2010 regelmäßig für uns als freiberufliche CAD-Zeichnerin tätig.
          %br
          Sie arbeitet sich dabei zügig in die verschiedenen und überwiegend sehr komplexen Projekte ein. Sie erstellt die Zeichnungen präzise und schnell. Auch die Orientierung in der digitalen Projektstruktur unseres Netzwerkes gelingt ihr hervorragend.
          %br
          Beispielhaft für ihre Tätigkeit sind folgende Projekte zu nennen, an denen sie in diesem Jahr mitgewirkt hat:
          %ul
            %li
              Ausführungsplanungen für Freianlagen für Solarparks in der Gemeinde Elsteraue
            %li
              Bestandsplan und Flächenbilanz für einen Bebauungsplan „Erneuerbare Energien“ in der Stadt Kelbra (Kyffhäuser)
            %li
              Vorhabenbezogener Bebauungsplan für großflächigen Einzelhandel in der Stadt Halle (Saale)
          Frau Wittek hat die ihr übertragenen Aufgaben stets zu unserer vollsten Zufriedenheit, konzentriert und selbstständig erfüllt. Mit großem Interesse setzte sie sich mit den verschiedenen Themen auseinander. Sie verfügt über eine schnelle Auffassungsgabe und hinterfragt weitere Zusammenhänge.
          %br
          Mit ihrer freundlichen und aufgeschlossenen Art fügt sie sich gut in unser Team ein.“
          %small
            Astrid Friedewald, StadtLandGrün

.modal.fade#more-4{tabindex: "-1", role: "dialog", aria: {hidden: "true"}}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
          &times;
        .clearfix
      .modal-body
        %blockquote
          „Frau Wittek erwies sich als kompetente und zuverlässige Auftragnehmerin. Sie ging mit hohem Fachwissen auf meine Vorstellungen ein, unterbreitete aber auch nützliche Vorschläge zur Umsetzung des ungewöhnlichen Projektes (Aufmaß und Zeichnung von alten Bunkern). Als besonders angenehm erwies es sich, dass alle Leistungen vom ersten Kontakt bis zum Projektabschluss im persönlichen Kontakt mit Frau Wittek als ausführender Person erfolgten.  “
          %small

          %a{href: '#', title: "<strong>Ralf Koch, NABU-Regionalverband Parchim</strong><br>Haus Biber & Co.<br>19412 Alt Necheln<br>Fon: 038483/29648<br>Mail: nabu-parchim@web.de", data: {toggle: "tooltip", html: "true"}}
            Ralf Koch, NABU-Regionalverband Parchim
