---
title: Über mich
active_page: about
---
.content#about
  .wrapper
    %h1
      Über mich
    .clearfix
    %header
      %p
        %strong
          Bauzeichnerin
      %p
        %strong
          Fachschulabschluss Hochbau
      %p
        %strong
          AutoCAD (seit 1996)
      %p
        %strong
          als selbständige Zeichnerin tätig seit 2004
      .clearfix

    %p
      Nach meiner Ausbildung war ich langjährig in einem Architekturbüro tätig.
      %br
      Mein Wirkungs- und Verantwortungsbereich erstreckte sich vorwiegend auf die Mitarbeit bei Planungsarbeiten von Neubau- und Sanierungsobjekten in allen Leistungsphasen der HOAI.
    %p
      Seit ich als selbständige Zeichnerin tätig bin, erweiterten Arbeiten im Elektrobereich mein Tätigkeitsfeld. Seither zeichne ich auch für verschiedene Elektroingenieurbüros.
    %p
      Des Weiteren erstelle ich Zeichnungen für Gutachter im Naturschutzbereich.
