---
title: Über mich
active_page: about
---
.row#about
  .col-xs-12.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
    .cbox
      .well
        %h1
          Über mich

        %p
          %strong
            Bauzeichnerin
        %p
          %strong
            Fachschulabschluss Hochbau
        %p
          %strong
            AutoCAD (seit 1996)
        %p
          %strong
            Als selbständige Zeichnerin tätig seit 2004
        %br
        %p
          Nach meiner Ausbildung war ich langjährig in einem Architekturbüro tätig.
          %br
          Mein Wirkungs- und Verantwortungsbereich beinhaltete vorwiegend die Mitarbeit bei Planungsarbeiten von Neubau- und Sanierungsobjekten in allen Leistungsphasen der HOAI.
        %p
          Seit ich als selbständige Zeichnerin tätig bin, erweiterten Arbeiten im Elektrobereich mein Tätigkeitsfeld. Seither zeichne ich für verschiedene Elektroingenieurbüros.
        %p
          Desweiteren erstelle ich Zeichnungen für Gutachter im Naturschutzbereich.

        %hr

        %a{href: "/"}
          %span
            Startseite
